<div class="container-fluid">
  <h1>Seja bem vindo!</h1>
  <p>Encontrou um animal perdido? <%= link_to 'Publique aqui', new_pet_path %> </p>
  <%= link_to 'veja uma lista dos animais encontrados', controller: 'pets' %>
</div>
