.form-buttons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}

.pets-list, .show, .edit {

  &.container {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3vh;
  }
  .card {
    width: 18rem;
    margin: 10px;

    &-body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }
  }
}

.show {
  .card {
    width: 18rem;
    margin: 10px;
  }
}


